<!DOCTYPE html>
<html>
<head>
  <title>Remote bootstrap modal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "remote_bootstrap_modal/application", media: "all" %>
  <%= javascript_include_tag "remote_bootstrap_modal/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
